Client/TweetOBox/TweetOBoxMain/Service References/TOBKUIService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ClientRegisterRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticks" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TOBRegistrationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientKUIRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tobEndTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tobStartDt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>