Client/TweetOBox/TweetOBoxMain/Service References/TOBKUIService/TOBKUIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="TOBKUIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITOBKUIService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://kui.tweetobox.com/tobkui/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://kui.tweetobox.com/tobkui/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ClientRegisterRequest">
    <wsdl:part name="parameters" element="tns:ClientRegisterRequest" />
  </wsdl:message>
  <wsdl:message name="TOBRegistrationResponseMessage">
    <wsdl:part name="parameters" element="tns:TOBRegistrationResponseMessage" />
  </wsdl:message>
  <wsdl:message name="ClientKUIRequest">
    <wsdl:part name="parameters" element="tns:ClientKUIRequest" />
  </wsdl:message>
  <wsdl:message name="ITOBKUIService_TOBUpdateKUI_OutputMessage" />
  <wsdl:portType name="ITOBKUIService">
    <wsdl:operation name="RegisterTOB">
      <wsdl:input wsaw:Action="http://tempuri.org/ITOBKUIService/RegisterTOB" name="ClientRegisterRequest" message="tns:ClientRegisterRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITOBKUIService/RegisterTOBResponse" name="TOBRegistrationResponseMessage" message="tns:TOBRegistrationResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="TOBUpdateKUI">
      <wsdl:input wsaw:Action="http://tempuri.org/ITOBKUIService/TOBUpdateKUI" name="ClientKUIRequest" message="tns:ClientKUIRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITOBKUIService/TOBUpdateKUIResponse" message="tns:ITOBKUIService_TOBUpdateKUI_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITOBKUIService" type="tns:ITOBKUIService">
    <wsp:PolicyReference URI="#WSHttpBinding_ITOBKUIService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterTOB">
      <soap12:operation soapAction="http://tempuri.org/ITOBKUIService/RegisterTOB" style="document" />
      <wsdl:input name="ClientRegisterRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TOBRegistrationResponseMessage">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TOBUpdateKUI">
      <soap12:operation soapAction="http://tempuri.org/ITOBKUIService/TOBUpdateKUI" style="document" />
      <wsdl:input name="ClientKUIRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TOBKUIService">
    <wsdl:port name="WSHttpBinding_ITOBKUIService" binding="tns:WSHttpBinding_ITOBKUIService">
      <soap12:address location="http://kui.tweetobox.com/tobkui/Service.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://kui.tweetobox.com/tobkui/Service.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>